.contact_section {
    /* max-width: 1000px; */
    margin: 0 auto;
  }
  .contact_section h1 {
    margin-left: 50px;
    font-size: 48px;
    font-weight: 800;
    max-width: 80%;
  }
  .contact_section p {
    margin-left: 50px;
    font-weight: 500;
  }