.main_div{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
   
}

.second_div{
    background-color: rgb(185 178 178 / 27%);
    border: 1px solid rgb(83, 81, 81);
  padding-top: 20px;
    margin: 20px 0px 20px 0px;
    width: 700px;
    border-radius: 20px;
}



/* Header styles */
