.container{
    background-color: rgb(176, 171, 171);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
    width: 600px;
    height: 450px;
    border-radius: 20px;
}


.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    font-size: 40px;
    font-weight: 600;
    border: 1px solid black;
    padding: 7px;
    border-radius: 10px;
    /* background-color: antiquewhite; */
}




.inputs{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height:  80px;
    border-radius: 20px;
    gap: 10px;
}

.input input{
   height: 50px;
   width: 400px;
  
   border: none;
   outline: none;
   color: black;
   font-size: 19px;
}

.forgot_password{
    padding-left: 72px;
    margin-top: 27px;
    color: black;
    font-size: 18px;
}

.forgot_password span{
    color: rgb(76, 76, 155);
    cursor: pointer;
}


.submit_container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}



.log_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(61, 60, 60);
    color: aliceblue;
}

.btn_div{
    display: flex;
    justify-content: center;
}

.submit{
   display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    background-color: rgb(61, 60, 60);
    color: aliceblue;
}