.mainDiv{
 
    background-color:white;
   
  }
  
  .firstdiv1{
  
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: rgb(223, 227, 226);
  border-radius: 20px;
  padding: 10px;
  margin-left: 400px;
  margin-right: 400px;
  border: 2px solid black;
  }
  
  .div2{
    margin: 10px 20px;
    background-color: rgb(223, 227, 226);
    border-radius: 20px;
    padding: 10px;
    height: 400px;
    width: 750px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
  
  }

  .sec_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  .div1{
    height: 60px;
    background-color:rgb(223, 227, 226);
    margin-top: 10px;
    width: 750px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

  }
