
.container{
    width: 700px;
    margin: auto;
    margin-top: 150px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px 40px 50px;
    background-color: #e7e6eb;

}

.heading{
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
}

.content{
    border: 2px solid black;
    padding: 35px;
    border-radius: 10px;
}
.content ul{
    margin-top: 10px;
}
.content ul li {
    display: flex;
    align-items: center;
    height: 60px;
    padding-left: 15px;
    border: 1px solid black;
    margin-top: 4px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.content h3{
    font-size: 27px;
    font-weight: 500;
}

.buttons{
    display: flex;
    justify-content: space-between;
}
.buttons button{
    margin: auto;
    width: 225px;
    height: 65px;
    background: #775ec4;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
}

.index{
    margin: auto;
    font-size: 18px;
}
 .correct{
    background-color: #00d397;
    border-color: #00d397;
}
.wrong{
    background-color: #f56565;
    border-color: #FF4A4A;
}

.button_reset{
    margin: auto;
    width: 225px;
    height: 65px;
    background: #775ec4;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid black;
}